name: CI Build shadowsocks-rust
on:
  push:
    branches: ['main']
    paths:
      - 'shadowsocks-rust/**'
jobs:
  BuildX:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      BASE_IMAGE: 'alpine'
      ALPINE_VER: '3.21'
      PRODUCT_NAME: 'shadowsocks'
      PRODUCT_VERSION: '1.23.5'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push "shadowsocks-rust"
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64, linux/arm64
          context: ./shadowsocks-rust/alpine
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.PRODUCT_NAME }}:rust-${{ env.PRODUCT_VERSION }}-${{ env.BASE_IMAGE }}${{ env.ALPINE_VER }}