name: CI Build shadowsocks-libev
on:
  push:
    branches: ['main']
    paths:
      - 'shadowsocks-libev/**'
  workflow_dispatch:
jobs:
  BuildX:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      BASE_IMAGE: alpine
      ALPINE_VER: '3.21'
      PRODUCT_NAME: 'shadowsocks'
      PRODUCT_VERSION: 'libev'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push "shadowsocks-libev"
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64, linux/arm64
          context: ./shadowsocks-libev/alpine
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.PRODUCT_NAME }}:${{ env.PRODUCT_VERSION }}-${{ env.BASE_IMAGE }}${{ env.ALPINE_VER }}
      - name: Cleanup
        uses: dataaxiom/ghcr-cleanup-action@v1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          delete-untagged: true
          owner: ${{ github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ${{ env.PRODUCT_NAME }}